name: docker-build

on:
  push:
    paths:
    - ubuntu/**
  pull_request:
    types:
    - opened
    - synchronize
    - labeled
    - reopened
  schedule:
  - cron:  '0 7 * * *'

jobs:
  build:
    name: docker-build
    runs-on: ubuntu-latest
    env:
      IMAGE_REPOSITORY: nicholasdille/ubuntu
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASS }}

    - name: Build
      uses: docker/build-push-action@v3
      with:
        cache-from: ${{ env.IMAGE_REPOSITORY }}:22.04
        #push: true
        tags: ${{ env.IMAGE_REPOSITORY }}:latest

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ env.IMAGE_REPOSITORY }}:22.04
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        severity: 'CRITICAL,HIGH'

    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        cache-from: ${{ env.IMAGE_REPOSITORY }}:22.04
        push: true
        tags: ${{ env.IMAGE_REPOSITORY }}:22.04
      if: github.event_name != 'pull_request'