name: docker-build

on:
  push:
    branches-ignore:
    - "renovate/**"
    paths:
    - ubuntu/22.04/**
    - .github/workflows/ubuntu-22.04.yml
  pull_request:
    types:
    - opened
    - synchronize
    - labeled
    - reopened
    paths:
    - ubuntu/22.04/**
    - .github/workflows/ubuntu-22.04.yml
  schedule:
  - cron:  '0 7 * * *'

jobs:
  build:
    name: docker-build
    runs-on: ubuntu-latest
    env:
      DOCKER_HUB_USER: nicholasdille
      IMAGE_REPOSITORY: nicholasdille/ubuntu
      IMAGE_TAG: 22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASS }}

    - name: Build
      uses: docker/build-push-action@v3
      with:
        context: ubuntu/22.04
        platforms: linux/amd64,linux/arm64
        provenance: true
        sbom: true
        cache-from: ${{ env.IMAGE_REPOSITORY }}:${{ env.IMAGE_TAG }}
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ env.IMAGE_REPOSITORY }}:${{ env.IMAGE_TAG }}, ${{ env.IMAGE_REPOSITORY }}:bionic

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: ${{ env.IMAGE_REPOSITORY }}:${{ env.IMAGE_TAG }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        severity: 'CRITICAL,HIGH'